<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100" *ngIf="educations.length > 0 else noData">
        <h2 class="mb-5"> {{ "Education" | translate }}</h2>

        <div *ngFor="let education of educations" class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">{{ education.institutionname }}</h3>
            <div class="subheading mb-3">Programas: {{ education.program }}</div>
            <div>{{ education.decription }}</div>
            <p>GPA: {{ education.gpa }}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ education.datefrom | date }} - {{ education.dateto | date }}</span>
          </div>
        </div>
      </div>
    </section>



    <ng-template #noData>
      <div class="mat-elevation-z8 noData">
        <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
        <h2 *ngIf="isLoading">Cargando datos</h2>

        <h2 *ngIf="!isLoading">No hay datos disponibles</h2>
      </div>
    </ng-template>

