<!--Profile section -->
<app-profile></app-profile>

<hr class="m-0 mat-elevation-z6">

<!--Experience section -->
<app-experience></app-experience>

<hr class="m-0 mat-elevation-z6">

<!-- Education section -->
<app-education></app-education>

<hr class="m-0 mat-elevation-z6">

 <!-- Skills section -->
<app-skills></app-skills>

<hr class="m-0 mat-elevation-z6">

<!-- Interests section -->
<app-interests></app-interests>

<hr class="m-0 mat-elevation-z6">

<!-- Awards & Certifications  section -->
<app-awards-certifications></app-awards-certifications>

